@model IEnumerable<WebCrudLogin.Models.Ruta>

@{
    ViewData["Title"] = "Mis rutas";
}

<h2>Mis rutas</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva ruta</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Campus origen</th>
            <th>Sector destino</th>
            <th>Vehículo</th>
            <th>Cupos</th>
            <th>Hora salida</th>
            <th>Distancia (km)</th>
            <th>Precio (USD)</th>
            <th></th> @* Acciones *@
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.CampusOrigen?.Nombre</td>
                <td>@r.Sector?.Nombre</td>
                <td>@r.Vehiculo?.Placa (@r.Vehiculo?.Modelo)</td>
                <td>@r.CuposOcupados / @r.CuposTotales</td>
                <td>@r.HoraSalida.ToString("dd/MM HH:mm")</td>
                <td>@r.DistanciaKm</td>
                <td>@r.Precio.ToString("0.00")</td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@r.Id"
                       class="btn btn-sm btn-warning">
                        Editar
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@r.Id"
                       class="btn btn-sm btn-danger ms-1">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
